doctype html
html
  head
    title= ' E-file Admin Dashboard'
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    link(rel='stylesheet', href='/css/app.css')
  body
    div#app
    script(src='/js/app.js')